<h1 class="htitle"><i class="glyphicon glyphicon-hdd"></i>首页banner</h1>
<div class="container">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel" ng-bind="messages"></h4>
				</div>
				<div class="modal-footer">
					<a href="javascript: location.href='/users/indexs'" type="button" class="btn btn-default" name="contains">
						确定
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="contitle">
		<img src="/images/slimlogo.png" alt="" class="mylogo">
	</div>
	<div class="row blogtitle">
		<div class="col-md-12 column">
			<div class="col-md-5">banner图片</div>
			<div class="col-md-5">banner链接</div>
			<div class="col-md-2">删除</div>
		</div>
	</div>
	<div class="blogbannerbox">
		<form action="" name="fileform">
			<dl ng-repeat="nums in readNum" class="blogbannerlist clearfix">
				<div class="col-md-5">
					<dt>
						<input type="file" ng-model="nums.img" name="imginput" file-model="myFile" ng-required="true">
						<img ng-src="{{nums.img}}" alt="">
					</dt>
				</div>
				<div class="col-md-5">
					<dd>
						<input type="text" class="form-control" ng-model="nums.link" ng-required="true">
					</dd>
				</div>
				<div class="col-md-2">
					<dd class="delete" ng-click="deleteSomes(nums.id)">X</dd>
				</div>
			</dl>
			<dl ng-repeat="nums in imgNum" class="blogbannerlist clearfix">
				<div class="col-md-5">
					<dt>
						<input type="file" ng-model="nums.img" file-model="myFile" ng-required="true">
						<img ng-src="{{nums.img}}" alt="">
					</dt>
				</div>
				<div class="col-md-5">
					<dd>
						<input type="text" class="form-control" ng-model="nums.link" ng-required="true">
					</dd>
				</div>
				<div class="col-md-2">
					<dd class="delete" ng-click="deleteSome()">X</dd>
				</div>
			</dl>
		</form>
		<div class="row buttongrp">
			<div class="col-md-6">
				<button class="btn btn-primary" ng-disabled="fileform.$invalid && fileform.$dirty" ng-click="bannercomplete()" data-toggle="modal" data-target="#myModal">完成</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-success" ng-click="addSome()">添加</button>
			</div>
		</div>
	</div>
</div>