@import "./reset.css";
@import "./mixin.scss";
@import "./navbar.scss";

html {
	overflow-x: hidden;
}
body {
	background: #272b30;
}
.headerright {
	float: right;
	padding-right: 3%;
	font-size: 16px;
	color: #fff;
	.welcome {
		padding-left: 20px;
		font-family: "Microsoft YaHei";
	}
	.logouts {
		margin-left: 45px;
		background: #383838;
		font-family: "Microsoft YaHei";
		font-size: 14px;
		border-color: #272b2e;
		color: #fff;
		&:hover {
			background: #272b2e;
			color: #999999;
		}
	}
}
.ch-container {
	padding: 20px;
}
.sidebar-nav {
	min-height: 0;
	box-shadow: 0 0 30px #BDBDBD;
	border-radius: 5px;
	.main-menu {
		overflow: hidden;
		.bigli {
			.titles {
				display: block;
				padding: 3px 15px;
				line-height: 18px;
				font-size: 12px;
				text-align: center;
				color: #999999;
				text-shadow: 0 1px 0 rgba(255,255,255,0.5);
			}
			ul {
				padding-left: 0;
				.smallli {
					a {
						line-height: 30px;
						padding: 10px 15px;
						background: linear-gradient(#484e55, #3a3f44 60%, #313539);
						font-family: "Microsoft YaHei";
						text-align: center;
						text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
						border: 1px solid rgba(221,221,221,0.46);
						border-radius: 4px;
						color: #fff;
						cursor: pointer;
						transition: .3s;
						&:hover {
							margin-left: 10px;
							background: linear-gradient(#020202, #101112 40%, #191b1d);
							border: 1px solid #272b2e;
							color: #f93;
						}
					}
					.smalllisel {
						background: linear-gradient(#999999, #ffffff 60%, #999999);
						color: #000000;
					}
				}
			}
		}
	}
}
#content {
	position: relative;
	min-height: 500px;
}
.welcomebox {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
	font-family: 'Shojumaru',cursive,Arial,serif;
	font-size: 24px;
	text-align: center;
	color: #999999;
	.imagebox {
		width: 200px;
		height: 120px;
		margin: 0 auto;
		.mylogo {
			width: 100%;
			height: 100%;
		}
	}
}
@include gz-mylogo;
/*内容布局*/
.htitle {
	width: 100%;
	height: 60px;
	padding-left: 20px;
	line-height: 60px;
	font-size: 24px;
	border-bottom: 1px solid #999999;
	color: #999999;
	i {
		padding-right: 10px;
	}
}
.titletab {
	width: 100%;
	span {
		float: left;
		width: 50%;
		height: 50px;
		line-height: 50px;
		font-family: "Microsoft YaHei";
		font-size: 18px;
		text-align: center;
		color: #fff;
		cursor: pointer;
	}
	.tabsel {
		-webkit-box-shadow: 0 2px 0 0 #fff;
		-moz-box-shadow: 0 2px 0 0 #fff;
		-ms-box-shadow: 0 2px 0 0 #fff;
		box-shadow: 0 2px 0 0 #fff;
	}
}
.tabcon {
	width: 100%;
	padding-bottom: 40px;
	font-family: "Microsoft YaHei";
	text-align: center;
	color: #fff;
	.title {
		font-size: 20px;
		color: #f93;
	}
	.row {
		padding: 10px 0;
		label {
			display: block;
			height: 30px;
			line-height: 30px;
		}
		input {
			float: right;
			width: 100%;
			padding: 4px 10px;
		}
	}
	.col-md-4 {
		text-align: left;
	}
}
.contitle {
	width: 100%;
	padding: 10px 0;
	line-height: 50px;
	text-align: center;
	color: #fff;
}
.app-user-create {
	font-family: "Microsoft YaHei";
	.app-inner {
		padding-top: 20px;
	}
	.newnames {
		font-size: 16px;
		text-align: left;
		color: #fff;
	}
	.btn {
		width: 200px;
		height: 40px;
	}
}
.messagebox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 400px;
	height: 200px;
	margin: auto;
	background: linear-gradient(#777777, #ffffff 90%, #777777);
	border-radius: 5px;
	h1 {
		width: 100%;
		margin-bottom: 70px;
		text-align: center;
		font-size: 35px;
		color: #ffffff;
	}
	.btn-inverse {
		display: block;
		width: 120px;
		margin: 0 auto;
		font-size: 22px;
		border: 2px solid #999999;
		color: #999999;
		&:hover {
			background: linear-gradient(#484e55, #3a3f44 60%, #313539);
			color: #fff;
		}
	}
}
.modal-backdrop {
	z-index: -1;
}
.modal-header {
	height: 100px;
}
.modal-title {
	height: 80px;
	line-height: 80px;
	font-size: 24px;
	text-align: center;
	border: none;
	color: #fff;
}
.modal-footer {
	border: none;
}
.modal-dialog {
	width: 470px;
	margin: 250px auto;
	.modal-content {
	    background: linear-gradient(#222222, #ffffff 90%, #222222);
	}
	.btn-default {
		display: block;
		margin: 0 auto;
		background: linear-gradient(#222222, #ffffff 90%, #222222);
		color: #fff;
	}
}
.conts {
	min-height: 240px;
}
.pagination {
	li {
		a {
		    background: linear-gradient(#020202, #101112 40%, #191b1d);
			color: #999999;
			&:hover {
				background: linear-gradient(#222222, #ffffff 90%, #222222);
				color: #ffffff;
			}
		}
	}
}
.deletes {
	cursor: pointer;
	color: #fc0404;
}
/*我的技能页面布局*/
.myskillbox {
	width: 100%;
	padding: 30px 0;
	font-family: "Microsoft YaHei";
	text-align: center;
	.skilltitle {
		padding-bottom: 30px;
	}
	.myskillname {
		padding-right: 5%;
		font-size: 22px;
		color: #fff;
	}
	.skillcontent {
		display: block;
		float: left;
		width: 80%;
	}
	.number {
		float: left;
		width: 20%;
		font-size: 22px;
		color: #fff;
	}
	h5 {
		float: left;
		width: 26%;
		height: 30px;
		margin: 30px 12%;
		line-height: 30px;
		font-size: 22px;
		font-family: 'Shojumaru',cursive,Arial,serif;
		color: #fff;
		cursor: pointer;
		background: #383838;
		box-shadow: 0 0 0 2px #272b2e;
		border-radius: 5px;
		&:hover {
			background: #272b2e;
			color: #999999;
		}
	}
	.skillcons {
		width: 100%;
		li {
			width: 100%;
			padding: 10px 0;
		}
	}
	.completebtn {
		clear: both;
		width: 28%;
		margin: 0 auto;
		font-size: 28px;
		text-align: center;
		color: #fff;
		cursor: pointer;
		box-shadow: 0 0 0 1px #fff;
		border-radius: 5px;
		&:hover {
			background: #272b2e;
			color: #f93;
			box-shadow: 0 0 0 1px #f93;
		}
	}
}
/*修改技能页面布局*/
.reviseskillbox {
	.btn-primary {
		display: block;
		width: 15%;
		margin: 0 auto;
	}
}
/*首页banner页面布局*/
.blogtitle {
	font-size: 20px;
	text-align: center;
	color: #f93;
}
.blogbannerbox {
	width: 100%;
	.blogbannerlist {
		width: 100%;
		height: 100px;
		dt {
			overflow: hidden;
			position: relative;
			width: 180px;
			height: 80px;
			margin: 10px auto 0;
			input[type="file"] {
				position: absolute;
				top: 0;
				left: -600px;
				font-size: 50px;
				opacity: 0;
			}
			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		dd {
			margin-top: 35px;
			text-align: center;
			color: #ff742a;
		}
		.delete {
			cursor: pointer;
		}
	}
	.buttongrp {
		margin-top: 150px;
		text-align: center;
		.btn {
			width: 120px;
			height: 50px;
			font-size: 25px;
		}
	}
}