@import "./reset.css";

body {
	background: #d1e9e9 !important;
	font-family: "Microsoft YaHei";
}
.navbar {
	width: 100%;
	min-height: 150px;
	line-height: 150px;
	margin-bottom: 0px !important;
	background: #cffbfb;
	.navbar-inner {
		width: 100%;
		height: 100%;
		line-height: 150px;
	}
	.navbar-brand {
		position: relative;
		height: 100%;
		line-height: 115px;
		margin-left: 50px;
		font-family: 'Shojumaru',cursive,Arial,serif;
		font-size: 30px;
		color: #f93;
		&:hover {
			color: #fff;
		}
	}
	.navbar-brand::before {
		position: absolute;
		top: 45px;
		left: -50px;
		display: block;
		width: 70px;
		height: 50px;
		content: "";
		background: url("/images/slimlogo.png") center center no-repeat;
		background-size: 60%;
		animation: logos 3s linear infinite;
	}
	@keyframes logos {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
.navbar-nav {
	li {
		text-align: center;
	}
	a {
		margin: 0 25px;
		font-size: 25px;
		color: #70f;
		font-family: "Microsoft YaHei";
		text-align: center;
		text-decoration: none !important;
		text-shadow: -1px -1px rgba(197, 223, 248,0.8),-2px -2px rgba(197, 223, 248,0.8),-3px -3px rgba(197, 223, 248,0.8),-4px -4px rgba(197, 223, 248,0.8),-5px -5px rgba(197, 223, 248,0.8),-6px -6px rgba(197, 223, 248,0.8);
		&:hover {
			color: #566F89;
				text-shadow: 1px 1px 0 #E4F1FF;
		}
	}
	.lisel {
		color: #fff;
		text-shadow: -1px -1px 0 #fff,1px 1px 0 #333,1px 1px 0 #444;
	}
}
.navbar-toggle {
	float: left;
	margin-left: 3%;
	border-color: #fff !important;
	&:hover {
		background: #272b2e;
	}
}
.active {
	box-shadow: 0 0 7px rgb(0,255,40);
	border: solid 1px white;
}
.animated.flip {
	animation-name: flip;
}
.icon-bar {
	background: #c8c8c8;
}
#toggle {
	margin-top: 50px !important;
}
/*实现banner的轮播功能*/
.indexbannerbox {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 500px;
	.imgli {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: auto;
		opacity: 0;
		transition: all linear 0.5s;
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.lisel {
		opacity: 1;
	}
}
.directionbox {
	position: relative;
	top: 0;
	left: 0;
	span {
		position: absolute;
		display: block;
		width: 65px;
		height: 50px;
		line-height: 50px;
		font-size: 60px;
		text-align: center;
		color: #fff;
		cursor: pointer;
	}
	.left {
		top: 225px;
		left: 0;
	}
	.right {
		top: 225px;
		right: 0;
	}
	.orderlistbox {
		position: absolute;
		width: 100%;
		left: 0px;
		top: 450px;
		height: 20px;
		text-align: center;
		li {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: 0 10px;
			background: #ccc;
			border-radius: 50%;
			cursor: pointer;
		}
		.ordershow {
			background: #f93;
		}
	}
}