@mixin gz-mylogo {
	.mylogo {
		display: inline-block;
		width: 70px;
		height: 50px;
		padding: 10px;
		animation: mylogos 3s linear infinite;
	}
	@keyframes mylogos {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}