html, body {
	height: 100%;
}
.slimbox {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	&:hover {
		.slimimg {
			transform: rotateY(540deg);
		}
		.mybloginter {
			transform: rotateY(0deg);
		}
	}
	.slimimg {
		-webkit-backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		box-shadow: 0 0 50px 0 #000000;
		transition: transform 1s linear;
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			cursor: pointer;
		}
	}
	.mybloginter {
		-webkit-backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20% 15%;
		background: linear-gradient(#999, #fff 20%, #999);
		font-size: 24px;
		text-align: center;
		color: #ffffff;
		border-radius: 50%;
		box-shadow: 0 0 30px 0 #999999;
		transform: rotateY(540deg);
		transition: transform 1s linear;
		h1 {
			width: 100%;
			font-family: 'Shojumaru',cursive,Arial,serif;
			text-align: center;
		}
		span {
			display: inline-block;
			width: 100%;
			font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
			text-align: center;
		}
	}
}
.skills {
	position: absolute;
	top: 30px;
	left: 250px;
	width: 35%;
	li {
		position: relative;
		height: 32px;
		margin-bottom: 10px;
		padding-left: 2%;
		line-height: 32px;
		cursor: pointer;
		opacity: 0;
	}
	.myjavascript {
		width: 0%;
		background: #d6efff;
		border-left: 2px solid #3498db;
		color: #2a7da9;
		opacity: 0;
	}
	.mynodejs {
		width: 0%;
		background: #eaf6d0;
		border-left: 2px solid #80bd01;
		color: #6e9c0f;
		opacity: 0;
	}
	.myothers {
		width: 0%;
		background: #fff6dd;
		border-left: 2px solid #fdbc40;
		color: #ff742a;
		opacity: 0;
	}
	.skillcon {
		position: absolute;
		top: 30px;
		left: 50px;
		width: 300px;
		border: 1px solid #999999;
		border-radius: 5px;
		background: #fff;
		z-index: 1;
		p {
			width: 100%;
			margin: 0 0 0;
			padding: 10px;
			line-height: 30px;
			font-size: 18px;
			text-align: left;
			color: #000;
		}
	}
}
.slimunderwritebox {
	width: 100%;
	height: 300px;
	z-index: -1;
	canvas {
		width: 100%;
		height: 100%;
	}
}
.mainbox {
	width: 92%;
	padding: 0 4%;
	margin: 0 auto;
	font-family: "Microsoft YaHei";
	h2 {
		width: 100%;
		padding-bottom: 15px;
		color: #70f;
		border-bottom: 5px solid #70f;
	}
	.title {
		width: 100%;
		.mymessage {
			width: 100%;
			li {
				float: left;
				width: 40%;
				line-height: 50px;
				text-align: left;
				span {
					display: inline-block;
				}
				.name {
					font-weight: bold;
					font-size: 24px;
				}
				.cons {
					font-size: 20px;
				}
			}
			li:nth-child(2n + 1) {
				width: 60%;
			}
		}
	}
	.projectbox {
		width: 100%;
		.webproject {
			float: left;
			width: 75%;
			padding-left: 5%;
			a {
				color: #f00;
			}
			li {
				width: 100%;
				line-height: 50px;
				.name {
					font-weight: bold;
					font-size: 24px;
				}
				.cons {
					font-size: 20px;
				}
			}
		}
		.imgbox {
			float: right;
			width: 25%;
			height: 25%;
		}
	}
	.aboutmebox {
		width: 100%;
		.aboutul {
			width: 100%;
			li {
				width: 100%;
				line-height: 50px;
				font-size: 24px;
				text-indent: 2em;
			}
		}
	}
	h3 {
		text-indent: 2em;
	}
}