body {
	position: relative;
	background: #f6f6f6;
}
.slimbox {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	&:hover {
		.slimimg {
			transform: rotateY(540deg);
		}
		.mybloginter {
			transform: rotateY(0deg);
		}
	}
	.slimimg {
		-webkit-backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		box-shadow: 0 0 50px 0 #000000;
		transition: transform 1s linear;
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			cursor: pointer;
		}
	}
	.mybloginter {
		-webkit-backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20% 15%;
		background: linear-gradient(#999, #fff 20%, #999);
		font-size: 24px;
		text-align: center;
		color: #ffffff;
		border-radius: 50%;
		box-shadow: 0 0 30px 0 #999999;
		transform: rotateY(540deg);
		transition: transform 1s linear;
		h1 {
			width: 100%;
			font-family: 'Shojumaru',cursive,Arial,serif;
			text-align: center;
		}
		span {
			display: inline-block;
			width: 100%;
			font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
			text-align: center;
		}
	}
}
.skills {
	position: absolute;
	top: 30px;
	left: 250px;
	width: 500px;
	li {
		position: relative;
		height: 32px;
		margin-bottom: 10px;
		padding-left: 2%;
		line-height: 32px;
		cursor: pointer;
		opacity: 0;
	}
	.myjavascript, .myhtmlcss, .myangular {
		width: 0%;
		background: #d6efff;
		border-left: 2px solid #3498db;
		color: #2a7da9;
		opacity: 0;
	}
	.mynodejs {
		width: 0%;
		background: #eaf6d0;
		border-left: 2px solid #80bd01;
		color: #6e9c0f;
		opacity: 0;
	}
	.myothers {
		width: 0%;
		background: #fff6dd;
		border-left: 2px solid #fdbc40;
		color: #ff742a;
		opacity: 0;
	}
	.skillcon {
		position: absolute;
		top: 30px;
		left: 50px;
		width: 200px;
		border: 1px solid #999999;
		border-radius: 5px;
		background: #fff;
		z-index: 1;
		p {
			width: 100%;
			height: 20px;
			font-size: 18px;
			text-align: center;
			color: #000;
		}
	}
}