<h1 class="htitle"><i class="glyphicon glyphicon-user"></i>创建用户</h1>
<div class="app-user-create" ng-controller="formControl">
	<div class="app-inner">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel" ng-bind="messages"></h4>
					</div>
					<div class="modal-footer">
						<a href="javascript: location.href='/users/indexs'" type="button" class="btn btn-default" name="contains">
							确定
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-md-12 column">
				<div class="row">
					<div class="col-md-2 column"></div>
						<div class="col-md-8 column">
							<div class="titletab clearfix">
								<span ng-class="{tabsel:tabSel.first}" ng-click="formHide('first')">手机账户注册</span>
								<span ng-class="{tabsel:tabSel.second}" ng-click="formHide('second')">网站账号注册</span>
							</div>
							<div class="tabcon">
								<div class="contitle">
									<img src="/images/slimlogo.png" alt="" class="mylogo">
								</div>
								<form name="userforms">
									<div class="form-group" ng-show="showFirst.first">
										<div class="row">
											<div class="col-md-12 column">
												<div class="col-md-2 column">
													<label for="new_name">昵&emsp;称: </label>
												</div>
												<div class="col-md-6 column">
													<input type="text" id="new_name" ng-required="true" ng-model="newnames" class="form-control" name="newname" placeholder="请输入昵称" ng-pattern="/^[a-zA-Z0-9_。\u4e00-\u9fa5]+$/">
												</div>
												<div class="col-md-4 column">
													<span class="text-danger" ng-show="userforms.newname.$dirty && userforms.newname.$invalid">昵称不能有特殊符号（除了句号和下划线）</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 column">
												<div class="col-md-2 column">
													<label for="user_name">手机号: </label>
												</div>
												<div class="col-md-6 column">
													<input type="text" id="phone_name" ng-required="true" ng-model="phonenames" class="form-control" name="phonename" placeholder="请输入手机号" ng-pattern="/^1[34578]\d{9}$/">
												</div>
												<div class="col-md-4 column">
													<span class="text-danger" ng-show="userforms.phonename.$dirty && userforms.phonename.$invalid">请输入11位手机号</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 column">
												<div class="col-md-2 column">
													<label for="phone_pwd">密&emsp;码: </label>
												</div>
												<div class="col-md-6 column">
													<input type="password" id="phone_pwd" ng-model="phonepwds" class="form-control phonepwd" placeholder="请输入密码" name="phonepwd" ng-required="true" ng-pattern="/^[a-zA-Z0-9_.]+$/" pw-check="phonepwd">
												</div>
												<div class="col-md-4 column">
													<span class="text-danger" ng-show="userforms.phonepwd.$dirty && userforms.phonepwd.$invalid">密码只由数字、字母和下划线组成且不能为空</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 column">
												<div class="col-md-2 column">
													<label for="phone_conpwd">确认密码: </label>
												</div>
												<div class="col-md-6 column">
													<input type="password" id="phone_conpwd" ng-model="phoneconpwds" class="form-control" placeholder="请确认密码" name="phoneconpwd" ng-required="true" pw-check="phonepwd">
												</div>
												<div class="col-md-4 column">
													<span class="text-danger" ng-show="isTrue">两次密码不一致</span>
												</div>
											</div>
										</div>
									</div>
									<button ng-click="Register()" ng-show="showFirst.first" ng-disabled="userforms.$invalid || isTrue" class="btn btn-primary" data-toggle="modal" data-target="#myModal">录入</button>
								</form>
								<form name="webforms">
									<div class="form-group" ng-show="showFirst.second">
										<div class="row">
											<div class="col-md-12 column">
												<div class="col-md-2 column">
													<label for="new_names">昵&emsp;称: </label>
												</div>
												<div class="col-md-6 column">
													<input type="text" id="new_names" ng-required="true" ng-model="newnamess" class="form-control" name="newnames" placeholder="请输入昵称" ng-pattern="/^[a-zA-Z0-9_。\u4e00-\u9fa5]+$/">
												</div>
												<div class="col-md-4 column">
													<span class="text-danger" ng-show="webforms.newnames.$dirty && webforms.newnames.$invalid">昵称不能有特殊符号（除了句号和下划线）</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 column">
												<div class="col-md-2 column">
													<label for="web_name">网站账号: </label>
												</div>
												<div class="col-md-6 column">
													<input type="text" id="web_name" ng-required="true" ng-model="webnames" class="form-control" name="webname" placeholder="请输入网站账号" ng-pattern="/^[a-zA-Z][\w_]{5,15}$/">
												</div>
												<div class="col-md-4 column">
													<span class="text-danger" ng-show="webforms.webname.$dirty && webforms.webname.$invalid">以字母开头的6-16位账号</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 column">
												<div class="col-md-2 column">
													<label for="phone_pwds">密&emsp;码: </label>
												</div>
												<div class="col-md-6 column">
													<input type="password" id="phone_pwds" ng-model="webpwds" class="form-control phonepwds" placeholder="请输入密码" name="phonepwds" ng-required="true" ng-pattern="/^[a-zA-Z0-9_.]+$/" pw-checks="phonepwds">
												</div>
												<div class="col-md-4 column">
													<span class="text-danger" ng-show="webforms.phonepwds.$dirty && webforms.phonepwds.$invalid">密码只由数字、字母、下划线和.组成且不能为空</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 column">
												<div class="col-md-2 column">
													<label for="phone_conpwds">确认密码: </label>
												</div>
												<div class="col-md-6 column">
													<input type="password" id="phone_conpwds" ng-model="phoneconpwdss" class="form-control" placeholder="请确认密码" name="phoneconpwds" ng-required="true" pw-checks="phonepwds">
												</div>
												<div class="col-md-4 column">
													<span class="text-danger" ng-show="isTrues">两次密码不一致</span>
												</div>
											</div>
										</div>
									</div>
									<button ng-click="Register()" ng-show="showFirst.second" ng-disabled="webforms.$invalid || isTrues" class="btn btn-primary" name="registers" data-toggle="modal" data-target="#myModal">录入</button>
								</form>
							</div>
						</div>
						<div class="col-md-2 column"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>