<h1 class="htitle"><i class="glyphicon glyphicon-user"></i>用户列表</h1>
<div class="userlistbox">
	<div class="container">
		<div class="col-md-12 column">
			<div class="row">
				<div class="col-md-12 column"></div>
					<div class="col-md-10 column">
						<div class="tabcon">
							<div class="contitle">
								<img src="/images/slimlogo.png" alt="" class="mylogo">
							</div>
							<div class="row title">
								<div class="col-md-12 column">
									<div class="col-md-2">用户ID</div>
									<div class="col-md-3">昵称</div>
									<div class="col-md-3">网站账号</div>
									<div class="col-md-3">密码</div>
									<div class="col-md-1">操作</div>
								</div>
							</div>
							<div class="conts">
								<div class="row" ng-repeat="item in pagelists">
									<div class="col-md-2" ng-bind="item.id"></div>
									<div class="col-md-3" ng-bind="item.name"></div>
									<div class="col-md-3" ng-bind="item.webname"></div>
									<div class="col-md-3" ng-bind="item.password"></div>
									<div class="col-md-1 deletes" ng-click="deletebtns(item.id)">×</div>
								</div>
							</div>
							<div class="pull-right">
								<ul class="pagination">
									<li>
										<a href="#/webuserlist/{{num <= 1 ? 1 : num - 1}}">上一页</a>
									</li>
									<li>
										<a href="#/webuserlist/{{num >= allsums ? allsums : num + 1}}">下一页</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-1 column"></div>
				</div>
			</div>
		</div>
	</div>
</div>