<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Slim。博客主页</title>
	<link rel="stylesheet" href="/stylesheets/blogindex.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body ng-app="blogApp">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="navbar" ng-controller="navCtrl">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target="#example-navbar-collapse" id="toggle">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="/blogindex" class="navbar-brand">Slim。的博客</a>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="navbar-nav">
							<li ng-repeat="item in lilist">
								<a href="{{item.link}}" ng-bind="item.title" ng-class="{lisel:item.classnames}" ng-click="Show(item)"></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="blog-contentbox">
					<div ng-view></div>
				</div>
			</div>
		</div>
	</div>
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/angular-route.min.js"></script>
	<script src="/javascripts/angular-animate.min.js"></script>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script>
		var app = angular.module("blogApp", ["ngRoute", "ngAnimate"]);

		app.config(["$locationProvider",function($locationProvider){
			$locationProvider.hashPrefix("");
		}]);

		app.config(function($routeProvider) {

			//配置导航栏
			$routeProvider
			.when("/", {
				templateUrl: "/templates/myblog/index.html",
				controller: "indexCtrl"
			})
			.when("/javascript", {
				templateUrl: "/templates/myblog/javascript/javascriptindex.html",
				controller: "jsindexCtrl"
			})
			.when("/nodejs", {
				templateUrl: "/templates/myblog/nodejs/nodejsindex.html",
				controller: "nodejsCtrl"
			})
			.when("/webframework", {
				templateUrl: "/templates/myblog/webframework/webframeworkindex.html",
				controller: "webframeworkCtrl"
			})
			.when("/joke", {
				templateUrl: "/templates/myblog/joke/jokeindex.html",
				controller: "jokeCtrl"
			})
			//游戏列表
			.when("/thunderplane", {
				templateUrl: "/templates/myblog/games/thunderplane.html",
				controller: "thunderplaneCtrl"
			})
			.when("/pintu", {
				templateUrl: "/templates/myblog/games/pintu.html",
				controller: "pintuCtrl"
			})
			.when("/dabingkuai", {
				templateUrl: "/templates/myblog/games/dabingkuai.html",
				controller: "dabingkuaiCtrl"
			})
			.when("/changecolor", {
				templateUrl: "/templates/myblog/games/changecolor.html",
				controller: "changecolorCtrl"
			});
		});

		//博客首页控制器
		app.controller("indexCtrl", function($scope) {

		});

		//JavaScript首页控制器
		app.controller("jsindexCtrl", function($scope, $http) {
			var shownum = 1;
			var pagesizes = 10;

			function GetAjax() {
				$http({
					url: "/blogindex/#/javascript",
					method: "POST",
					dataType: "json",
					data: {
						jsindex: 1,
						pagesize: pagesizes,
						pagenum: shownum
					}
				})
				.then(function(data) {
					console.log(data.data);
					var n = data.data.result;

					$scope.pagelists = [];

					$scope.prelist = data.data.titleArr;

					for(var i = 0; i < n; i++) {
						$scope.pagelists.push({
							"lens": (i + 1)
						});
					}

					//添加类名
					for(var i in $scope.pagelists) {
						$scope.pagelists[i].pagesels = "";
					}
					$scope.pagelists[shownum - 1].pagesels = "pagesels";

					//上一页
					$scope.prebtn = function() {
						if(shownum > 1) {
							shownum--;
						}

						if(shownum > pagesizes) {
							$scope.start = Math.floor(shownum / pagesizes) * pagesizes;
						}

						if(shownum <= pagesizes) {
							$scope.start = 0;
						}
						new GetAjax();
					}

					//下一页
					$scope.nextbtn = function() {
						if(shownum < n) {
							shownum++;
						}
						if(shownum > pagesizes) {
							$scope.start = Math.floor(shownum / pagesizes) * pagesizes;
						}
						new GetAjax();
					}

					//显示当前页
					$scope.ThisPage = function(len) {
						shownum = len;
						new GetAjax();
					}
				})
				.catch(function(data) {
					console.log(data);
				});
			}

			new GetAjax();
		});

		//NodeJS首页控制器
		app.controller("nodejsCtrl", function($scope, $http) {
			var shownum = 1;
			var pagesizes = 10;

			function GetAjax() {
				$http({
					url: "/blogindex/#/javascript",
					method: "POST",
					dataType: "json",
					data: {
						nodeindex: 1,
						pagesize: pagesizes,
						pagenum: shownum
					}
				})
				.then(function(data) {
					console.log(data.data);
					var n = data.data.result;

					$scope.pagelists = [];

					$scope.prelist = data.data.titleArr;

					for(var i = 0; i < n; i++) {
						$scope.pagelists.push({
							"lens": (i + 1)
						});
					}

					//添加类名
					for(var i in $scope.pagelists) {
						$scope.pagelists[i].pagesels = "";
					}
					$scope.pagelists[shownum - 1].pagesels = "pagesels";

					//上一页
					$scope.prebtn = function() {
						if(shownum > 1) {
							shownum--;
						}

						if(shownum > pagesizes) {
							$scope.start = Math.floor(shownum / pagesizes) * pagesizes;
						}

						if(shownum <= pagesizes) {
							$scope.start = 0;
						}
						new GetAjax();
					}

					//下一页
					$scope.nextbtn = function() {
						if(shownum < n) {
							shownum++;
						}
						if(shownum > pagesizes) {
							$scope.start = Math.floor(shownum / pagesizes) * pagesizes;
						}
						new GetAjax();
					}

					//显示当前页
					$scope.ThisPage = function(len) {
						shownum = len;
						new GetAjax();
					}
				})
				.catch(function(data) {
					console.log(data);
				});
			}

			new GetAjax();
		});

		//webframework首页控制器
		app.controller("webframeworkCtrl", function($scope, $http) {
			var shownum = 1;
			var pagesizes = 10;

			function GetAjax() {
				$http({
					url: "/blogindex/#/javascript",
					method: "POST",
					dataType: "json",
					data: {
						webindex: 1,
						pagesize: pagesizes,
						pagenum: shownum
					}
				})
				.then(function(data) {
					console.log(data.data);
					var n = data.data.result;

					$scope.pagelists = [];

					$scope.prelist = data.data.titleArr;

					for(var i = 0; i < n; i++) {
						$scope.pagelists.push({
							"lens": (i + 1)
						});
					}

					//添加类名
					for(var i in $scope.pagelists) {
						$scope.pagelists[i].pagesels = "";
					}
					$scope.pagelists[shownum - 1].pagesels = "pagesels";

					//上一页
					$scope.prebtn = function() {
						if(shownum > 1) {
							shownum--;
						}

						if(shownum > pagesizes) {
							$scope.start = Math.floor(shownum / pagesizes) * pagesizes;
						}

						if(shownum <= pagesizes) {
							$scope.start = 0;
						}
						new GetAjax();
					}

					//下一页
					$scope.nextbtn = function() {
						if(shownum < n) {
							shownum++;
						}
						if(shownum > pagesizes) {
							$scope.start = Math.floor(shownum / pagesizes) * pagesizes;
						}
						new GetAjax();
					}

					//显示当前页
					$scope.ThisPage = function(len) {
						shownum = len;
						new GetAjax();
					}
				})
				.catch(function(data) {
					console.log(data);
				});
			}

			new GetAjax();
		});

		//joke首页控制器
		app.controller("jokeCtrl", function($scope) {

		});

		//雷霆战机控制器
		app.controller("thunderplaneCtrl", function($scope) {

		});

		//拼图控制器
		app.controller("pintuCtrl", function($scope) {

		});

		//打冰块控制器
		app.controller("dabingkuaiCtrl", function($scope) {

		});

		//变色方块控制器
		app.controller("changecolorCtrl", function($scope) {

		});

		//导航栏控制器
		app.controller("navCtrl", function($scope, $location) {

			//实现导航栏模块
			$scope.lilist = [
				{
					title: "首页",
					link: "/blogindex/#"
				},
				{
					title: "JavaScript",
					link: "#/javascript"
				},
				{
					title: "NodeJS",
					link: "#/nodejs"
				},
				{
					title: "web框架",
					link: "#/webframework"
				},
				{
					title: "趣味",
					link: "#/joke"
				},
				{
					title: "陈鸿",
					link: "/"
				}
			];

			//根据路径实现TAB切换
			for(var i in $scope.lilist) {
				if($location.$$path == ($scope.lilist[i].link).split("#")[1] || ($scope.lilist[i].link).split("#")[1] == "") {
					$scope.lilist[i].classnames = "lisel";
				}
			}

			//点击实现TAB切换
			$scope.Show = function(show) {
				for(var i in $scope.lilist) {
					$scope.lilist[i].classnames = "";
				}
				show.classnames = "lisel";
			}
		});

		//游戏列表控制器
		app.controller("gamebigboxCtrl", function($scope) {
			$scope.gamelist = [
				{
					face: "雷霆战机",
					back: "屠龙宝刀，点击就送",
					link: "#/thunderplane"
				},
				{
					face: "拼图",
					back: "九宫格拼图游戏",
					link: "#/pintu"
				},
				{
					face: "打冰块",
					back: "体验打冰块的快感",
					link: "#/dabingkuai"
				},
				{
					face: "变色方块",
					back: "我变，我变，我变变变",
					link: "#/changecolor"
				}
			];
		});
		/*****************************首页轮播效果****************************/
		app.controller("bannerimg", function($scope, $http, $interval) {
			$http({
				url: "/blogindex",
				method: "POST",
				dataType: "json",
				data: {
					bannerget: 1
				}
			})
			.then(function(data) {
				$scope.imglist = data.data.arr;

				//设置显示隐藏功能
				$scope.imglist[0].imgshow = "lisel";
				$scope.imglist[0].ordershow = "orderli";

				var nums = 0;
				function Mouse() {
					nums++;

					if(nums >= $scope.imglist.length) {
						nums = 0;
					}
					for(var i = 0; i < $scope.imglist.length; i++) {
						$scope.imglist[i].imgshow = "";
						$scope.imglist[i].ordershow = "";
					}

					$scope.imglist[nums].imgshow = "lisel";
					$scope.imglist[nums].ordershow = "orderli";
				}
				var timers = $interval(Mouse, 2000);

				//实现hover效果
				$scope.mouseover = function() {
					$interval.cancel(timers);
				}
				$scope.mouseleave = function() {
					timers = $interval(Mouse, 2000);
				}

				//实现点击效果
				$scope.Lefts = function() {
					$interval.cancel(timers);
					nums--;
					if(nums < 0) {
						nums = $scope.imglist.length - 1;
					}
					for(var i = 0; i < $scope.imglist.length; i++) {
						$scope.imglist[i].imgshow = "";
						$scope.imglist[i].ordershow = "";
					}

					$scope.imglist[nums].imgshow = "lisel";
					$scope.imglist[nums].ordershow = "orderli";
				}
				$scope.Rights = function() {
					$interval.cancel(timers);
					nums++;
					if(nums >= $scope.imglist.length) {
						nums = 0;
					}
					for(var i = 0; i < $scope.imglist.length; i++) {
						$scope.imglist[i].imgshow = "";
						$scope.imglist[i].ordershow = "";
					}
					$scope.imglist[nums].imgshow = "lisel";
					$scope.imglist[nums].ordershow = "orderli";

				}

				//点击切换banner
				$scope.orderClick = function(ordernum) {
					$interval.cancel(timers);
					nums = ordernum;
					for(var i = 0; i < $scope.imglist.length; i++) {
						$scope.imglist[i].imgshow = "";
						$scope.imglist[i].ordershow = "";
					}
					$scope.imglist[ordernum].imgshow = "lisel";
					$scope.imglist[ordernum].ordershow = "orderli";
				}
			})
			.catch(function(data) {
				console.log(data);
			});
		});

		/*内容块控制器*/
		app.controller("indexbigCtrl", function($scope, $http) {
			var shownum = 1;
			var pagesizes = 5;

			function GetAjax() {
				$http({
					url: "/blogindex",
					method: "POST",
					type: "json",
					data: {
						indexbig: 1,
						pagesize: pagesizes,
						pagenum: shownum
					}
				})
				.then(function(data) {
					console.log(data.data);
					var n = data.data.result;

					$scope.pagelists = [];

					$scope.prelist = data.data.titleArr;

					for(var i = 0; i < n; i++) {
						$scope.pagelists.push({
							"lens": (i + 1)
						});
					}

					//添加类名
					for(var i in $scope.pagelists) {
						$scope.pagelists[i].pagesels = "";
					}
					$scope.pagelists[shownum - 1].pagesels = "pagesels";

					//上一页
					$scope.prebtn = function() {
						if(shownum > 1) {
							shownum--;
						}

						if(shownum > pagesizes) {
							$scope.start = Math.floor(shownum / pagesizes) * pagesizes;
						}

						if(shownum <= pagesizes) {
							$scope.start = 0;
						}
						new GetAjax();
					}

					//下一页
					$scope.nextbtn = function() {
						if(shownum < n) {
							shownum++;
						}
						if(shownum > pagesizes) {
							$scope.start = Math.floor(shownum / pagesizes) * pagesizes;
						}
						new GetAjax();
					}

					//显示当前页
					$scope.ThisPage = function(len) {
						shownum = len;
						new GetAjax();
					}
				})
				.catch(function(data) {
					console.log(data);
				});
			}

			new GetAjax();
		});

		//返回顶部功能
		app.directive("returnTop", function() {
			return {
				restrict: "A",
				link: function(scope, jqlite, attrs) {

					//设置初始位置
					jqlite.css({
						top: ($(window).height() - 150) + "px"
					});

					var posX = 0;
			    	timer = 0;

					window.onscroll = function() {
						var scrolltop = document.documentElement.scrollTop || document.body.scrollTop;
						if(scrolltop >= 300) {
							jqlite.css({
								opacity: 1,
								zIndex: 200
							});
						} else {
							jqlite.css({
								opacity: 0,
								zIndex: -1
							});
						}
					}
					jqlite.on("click", function() {
						$(".em2").show();
						function show() {
							$(".em2").css({
								background: "url(/images/rocket.png) " + (posX - 33) + "px -15px no-repeat",
							});

			    			document.body.scrollTop -= 30;
			    			jqlite.css({
			    				top: "-500px",
			    				transition: "all linear 1s"
			    			});
			    			if(posX > -750) {
			    				posX -= 150;
			    			} else {
			    				posX = -150;
			    			}
			    			if(document.body.scrollTop == 0) {
			    				var timers = setTimeout(function() {
				    				clearInterval(timer);
				    				$(".em2").hide();
				    				$(".em2").css({
										background: "url(/images/rocket.png) -33px -15px no-repeat"
									});

				    				posX = 0;
			    					jqlite.css({
										top: ($(window).height() - 150) + "px",
										transition: "opacity linear 1s"
									});
			    				}, 500);
			    			}
			    		}
			    		timer = setInterval(show,16);
					});
				}
			}
		});
	</script>
</body>
</html>
