<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Slim。微博主页</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/blogindex.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body ng-app="blogApp">
	<div class="navbar">
		<div class="navbar-inner">
			<button type="button" data-toggle="collapse" data-target="#example-navbar-collapse" class="navbar-toggle animated flip">
				<!-- <span class="sr-only"></span> -->
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/blogindex" class="navbar-brand">Slim。博客主页</a>
		</div>
	</div>
</body>
</html>
