<!DOCTYPE html>
<html>
  <head>
    <title>Slim。</title>
    <link rel='stylesheet' href='/stylesheets/reset.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/resumeindex.css">
  </head>
  <body>
    <div class="slimbox" id="slimboxs">
        <div class="slimimg">
            <img src="/images/slims.png" alt="">
        </div>
        <a href="#">
            <div class="mybloginter">
                <h1>Slim。</h1>
                <span>个人博客</span>
            </div>
        </a>
    </div>
    <ul class="skills" id="skillss">
        <li class="myjavascript">JavaScript
           <!--  <div class="skillcon">
                <p>我的技能1</p>
                <p>我的技能2</p>
                <p>我的技能3</p>
                <p>我的技能4</p>
            </div> -->
        </li>
        <li class="myhtmlcss">html & css</li>
        <li class="myangular">AngularJS</li>
        <li class="mynodejs">nodeJs</li>
        <li class="myothers">Others</li>
    </ul>
  </body>
    <script src="/javascripts/resumeindex.js"></script>
</html>
