<h1 class="htitle"><i class="glyphicon glyphicon-tint"></i>Slim。的技能</h1>
<div class="myskillbox">
	<div class="container">
		<div class="col-md-12 column">
			<div class="row skilltitle">
				<div class="col-md-3 column"></div>
				<div class="col-md-6 column">
					<span class="myskillname">技能名称:</span>
					<label for="skill">
						<input type="text" class="form-control" id="skill" placeholder="输入技能名称" name="skills">
					</label>
				</div>
				<div class="col-md-3 column"></div>
			</div>
			<div class="row">
				<form action="">
					<div class="col-md-3 column"></div>
					<div class="col-md-6 column">
						<ul class="skillcons">
							<li ng-repeat="i in myNum" class="clearfix">
								<span class="number" ng-bind="i"></span>
								<input name="" class="form-control skillcontent" ng-name="skillcontents{{i}}" placeholder="输入技能内容"></input>
							</li>
						</ul>
						<h5 ng-click="addskillbtn()">添加</h5>
						<div class="completebtn" ng-click="completebtns()">完成</div>
					</div>
				</form>
				<div class="col-md-3 column"></div>
			</div>
		</div>
	</div>
</div>