<h1 class="htitle"><i class="glyphicon glyphicon-align-justify"></i>Slim。的技能列表</h1>
<div class="reviseskillbox">
	<div class="container">
		<div class="col-md-12 column">
			<div class="row">
				<div class="col-md-10 column">
					<div class="tabcon">
						<div class="contitle">
							<img src="/images/slimlogo.png" alt="" class="mylogo">
						</div>
						<div class="row title">
							<div class="col-md-12 column">
								<div class="col-md-3">技能名称</div>
								<div class="col-md-2">技能掌握程度</div>
								<div class="col-md-7">技能内容</div>
							</div>
						</div>
						<div class="conts">
							<div class="row" ng-repeat="i in list">
								<div class="col-md-3">
									<input class="form-control" ng-model="i.name">
								</div>
								<div class="col-md-2">
									<input class="form-control" ng-model="i.pro">
								</div>
								<div class="col-md-7">
									<input class="form-control" ng-model="i.cons">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-primary" ng-click="reviseBtn()">修改</button>
		</div>
	</div>
</div>