<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport"/>
	<title>Slim。的后台管理系统</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/animate.min.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/backindex.css">
</head>
<body>
	<div ng-app="myApp">
		<div class="navbar">
			<div class="navbar-inner">
				<button type="button" data-toggle="collapse" data-target="#example-navbar-collapse" class="navbar-toggle animated flip" ng-controller="buttonControl">
					<!-- <span class="sr-only"></span> -->
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/users/indexs" class="navbar-brand">Slim。的后台管理系统</a>
				<div class="headerright" ng-controller="headerControl">
					<span>{{date | date : "yyyy-MM-dd HH:mm:ss"}}</span>
					<span class="welcome">欢迎回来！</span>
					<span ng-bind="username"></span>
					<a href="/users/logout" class="logouts btn btn-default">退出</a>
				</div>
			</div>
		</div>
		<div class="ch-container">
			<div class="row">
				<div class="col-sm-2 col-lg-2">
					<div class="sidebar-nav">
						<div class="nav-canvas" ng-controller="navCtrl">
							<ul class="navbar-collapse collapse nav main-menu" id="example-navbar-collapse">
								<li ng-repeat="item in list" class="bigli">
									<div ng-bind="item.title" class="titles"></div>
									<ul class="nav main-menu">
										<li ng-repeat="childItem in item.childList" class="smallli">
											<a ng-href="{{childItem.link}}" ng-bind="childItem.title" ng-class="{smalllisel:childItem.classnames}" ng-click="Show(childItem)"></a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="content" class="col-sm-10 col-lg-10" ng-view></div>
			</div>
		</div>
	</div>
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/angular-route.min.js"></script>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script>
		var app = angular.module("myApp", ["ngRoute"]);

		app.config(function($routeProvider) {

			//配置用户模块路由，用户模块应该有三个路由，创建用户，用户详情，用户列表
			$routeProvider
			.when("/", {
				templateUrl: "/templates/index.html",
				controller: "indexCtrl"
			})
			.when("/createuser", {
				templateUrl: "/templates/user/create.html",
				controller: "createUserCtrl"
			})
			.when("/userinfo", {
				templateUrl: "/templates/user/info.html",
				controller: "userInfoCtrl"
			})
			.when("/phoneuserlist/:pageNum", {
				templateUrl: "/templates/user/list.html",
				controller: "userListCtrl"
			})
			.when("/webuserlist/:pageNum", {
				templateUrl: "/templates/user/lists.html",
				controller: "usersListCtrl"
			})
			//配置文章模块路由，文章模块应该有三个路由，创建文章，文章详情，文章列表
			.when("/createarticle", {
				templateUrl: "/templates/articles/create.html",
				controller: "createArticleCtrl"
			})
			.when("/articlelist/:pageNum", {
				templateUrl: "/templates/articles/info.html",
				controller: "articleListCtrl"
			})
			.when("/articleinfo/:articleId", {
				templateUrl: "/templates/articles/list.html",
				controller: "articleInfoCtrl"
			})
			.when("/myskill", {
				templateUrl: "/templates/resumes/myskill.html",
				controller: "myskillCtrl"
			});
		});

		//首页控制器
		app.controller("indexCtrl", function($scope) {

		});

		//创建用户控制器
		app.controller("createUserCtrl", function($scope) {

		});

		//手机号用户列表控制器
		app.controller("userListCtrl", function($scope, $routeParams, $http) {

			//获取页面参数，保存在作用域中
			$scope.num = parseInt($routeParams.pageNum);

			function newList() {

				//根据pageNum请求数据
				$http({
					url: "/users/indexs#/phoneuserlist/",
					method: "POST",
					dataType: "json",
					data: {
						gets: 1,
						pagenum: $scope.num
					}
				})
				.success(function(data) {
					$scope.allsum = data.datasum;
					$scope.pagelists = data.result;
				})
				.error(function(data) {
					console.log(data);
				});
			}

			new newList();

			//删除功能
			$scope.deletebtn = function(ids) {
				$http({
					url: "/users/indexs#/phoneuserlist/",
					method: "POST",
					dataType:"json",
					data: {
						del: 1,
						ids: ids
					}
				})
				.success(function(data) {
					if(data.result == 1) {
						new newList();
					}
				})
				.error(function(data) {
					console.log("->" + data);
				})
			}
		});

		//网站用户列表控制器
		app.controller("usersListCtrl", function($scope, $routeParams, $http) {
			function newLists() {

				//获取页面参数，保存在作用域中
				$scope.num = parseInt($routeParams.pageNum);

				//根据pageNum请求数据
				$http({
					url: "/users/indexs#/phoneuserlist/",
					method: "POST",
					dataType: "json",
					data: {
						gets: 2,
						pagenum: $scope.num
					}
				})
				.success(function(data) {
					$scope.allsums = data.datasum;
					$scope.pagelists = data.result;
				})
				.error(function(data) {
					console.log(data);
				});
			}
			new newLists();

			//删除功能
			$scope.deletebtns = function(ids) {
				$http({
					url: "/users/indexs#/webuserlist/",
					method: "POST",
					dataType:"json",
					data: {
						del: 2,
						ids: ids
					}
				})
				.success(function(data) {
					if(data.result == 1) {
						new newLists();
					}
				})
				.error(function(data) {
					console.log("->" + data);
				})
			}
		});

		//用户信息控制器
		app.controller("userInfoCtrl", function($scope) {

		});

		//创建文章控制器
		app.controller("createArticleCtrl", function($scope) {

		});

		//文章信息控制器
		app.controller("articleInfoCtrl", function($scope) {

		});

		//创建文章列表控制器
		app.controller("articleListCtrl", function($scope) {

		});

		// 我的技能控制器
		app.controller("myskillCtrl", function($scope, $http) {

			//存储数据
			$scope.repeatdata = [];

			$scope.showNum = [];
			$scope.num = 1;

			$scope.showNum.push({
				no: $scope.num,
				news: $scope.news
			});
			$scope.addskillbtn = function() {
				$scope.num++;
				$scope.showNum.push({
					no: $scope.num,
					news: $scope.news
				});
			}

			//实现技能交互
			$scope.completebtns = function() {
				$scope.repeatdata = [];
		        for (var i = 0; i < $scope.showNum.length; i++) {
		        	if($scope.showNum[i].news != undefined) {
		            	$scope.repeatdata.push($scope.showNum[i].news);
		        	}
		        }

		        if($scope.repeatdata.length != 0) {
					$http({
						url: "/users/indexs#/myskill",
						method: "POST",
						dataType: "json",
						data: {
							addskill: 1,
							skilltitle: $scope.skilltitle,
							skillpro: $scope.skillprocess,
							repeatdata: $scope.repeatdata
						}
					})
					.success(function(data) {
						$scope.skillShows = true;
						if(data.result == 1) {
							$scope.messages = data.message;
						}else if(data.result == 0) {
							$scope.skillShows = false;
							$scope.messages = data.message;
						}
					})
					.error(function(data) {
						console.log(data);
					});
		        } else {
		        	$scope.skillShows = false;
		        	$scope.messages = "请输入技能名称和技能内容";
		        }
			}
		});

		app.controller("headerControl", function($scope, $http, $interval) {
			$scope.date = new Date();

			$interval(function() {
				$scope.date = new Date();
			}, 1000);

			$http({
				url: "/users/indexs",
				method: "POST",
				dataType: "json"
			})
			.success(function(data) {
				$scope.username = data.name;
			})
			.error(function(data) {
				console.log(data);
			});
		});
		app.controller("buttonControl", function($scope, $element) {
			$element.on("click", function() {
				if($element.hasClass("active")) {
					$element.removeClass("active");
				} else {
					$element.addClass("active");
				}
			});
		});

		//定义导航控制器
		app.controller("navCtrl", function($scope, $location) {

			//模块的内容
			$scope.list = [
				{
					title: "用户模块",
					childList: [
						{
							title: "手机号用户",
							//对于用户列表，我们发送请求的时候，要携带请求的页码
							link: "#/phoneuserlist/1",
						},
						{
							title: "网站用户",
							//对于用户列表，我们发送请求的时候，要携带请求的页码
							link: "#/webuserlist/1",
						},
						{
							title: "创建用户",
							link: "#/createuser",
						}
					]
				},
				{
					title: "文章模块",
					childList: [
						{
							title: "文章列表",
							//对于用户列表，我们发送请求的时候，要携带请求的页码
							link: "#/articlelist/1"
						},
						{
							title: "创建文章",
							link: "#/createarticle"
						}
					]
				},
				{
					title: "Slim。的简历",
					childList: [
						{
							title: "添加技能",
							link: "#/myskill"
						}
					]
				}
			];

			//根据路径实现TAB切换
			for(var i in $scope.list) {
				for(var j in $scope.list[i].childList) {
					if($location.$$path == (($scope.list[i].childList[j].link).split("#")[1])) {
						($scope.list[i].childList[j]).classnames = "smalllisel";
					}
				}
			}
			//实现tab切换功能
			$scope.Show = function(shows) {

				//取消所有页面的类名
				for(var i in $scope.list) {
					for(var j in $scope.list[i].childList) {
						$scope.list[i].childList[j].classnames = "";
					}
				}
				shows.classnames = "smalllisel";
			}
		});

		/*实现tab切换*/
		app.controller("formControl", function($scope, $http) {

			//显隐操作
			$scope.showFirst = {
				first: true,
				second: false
			}
			$scope.tabSel = {
				first: true,
				second: false
			}
			$scope.formHide = function(formsHide) {
				for(var i in this.tabSel) {
					this.tabSel[i] = false;
				}
				for(var i in this.showFirst) {
					this.showFirst[i] = false;
				}
				$scope.showFirst[formsHide] = true;
				$scope.tabSel[formsHide] = true;
			}

			//注册交互判断
			$scope.Register = function() {
				if($scope.showFirst.first && $scope.userforms.$valid) {
					$http({
						url: "/users/indexs",
						method: "POST",
						dataType: "json",
						data: {
							newname: $scope.newnames,
							pname: $scope.phonenames,
							ppwd: $scope.phonepwds,
							num: 1
						}
					})
					.success(function(data) {
						$scope.messages = data.message;
					})
					.error(function(data) {
						console.log(data);
					});
				} else if($scope.showFirst.second && $scope.webforms.$valid) {
					$http({
						url: "/users/indexs",
						method: "POST",
						dataType: "json",
						data: {
							newname: $scope.newnamess,
							wname: $scope.webnames,
							wpwd: $scope.webpwds,
							num: 2
						}
					})
					.success(function(data) {
						$scope.messages = data.message;
					})
					.error(function(data) {
						console.log(data);
					});
				}
			}
		});
		app.directive("pwCheck", function() {
			return {
				require: "ngModel",
				link: function(scope, elem, attrs, ctrl) {
					var firstPassword = "." + attrs.pwCheck;
					elem.addClass(firstPassword).on("input", function() {
						if($(firstPassword).val() != scope.phoneconpwds) {
							scope.isTrue = true;
						} else {
							scope.isTrue = false;
						}
					});
				}
			}
		});
		app.directive("pwChecks", function() {
			return {
				require: "ngModel",
				link: function(scope, elem, attrs, ctrl) {
					var firstPassword = "." + attrs.pwChecks;
					elem.addClass(firstPassword).on("input", function() {
						if($(firstPassword).val() != scope.phoneconpwdss) {
							scope.isTrues = true;
						} else {
							scope.isTrues = false;
						}
					});
				}
			}
		});
	</script>
</body>
</html>